.page {
  min-height: calc(100vh - 73px);
  background-color: #f0f9ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container {
  max-width: 650px;
  width: 100%;
}

@media (min-width: 768px) {
  .page {
    padding: 2rem 1rem;
  }
}
